<div class="header__links header__links--bkg{% if settings.use_sticky %} hide-in-sticky{% endif %}">
	<div class="container{% if settings.header_wide_display %}-fluid{% endif %}">
		<div class="row">
			<div class="col-xs-12 header__links__inner">
				<div class="header__links__left f-left header__links--flex flex">
					{%- unless enable_rtl -%}
						{%- render 'currency-switcher', addition_classes: 'header__link--top', data_group: 'header__links' -%}
						<div class="por">
							{%- render 'search-form' with additional_search_form_styles: 'padding-left:10px;' -%}
						</div>
					{%- else -%}
						{%- render 'currency-switcher', addition_classes: 'header__link--top', data_group: 'header__links' -%}
						<div class="por">{%- render 'search-form' with additional_search_form_styles: 'padding-right:10px;' -%}</div>	
					{%- endunless -%}
				</div>
				{%- if shop.customer_accounts_enabled or settings.enable_compare -%}
				<div class="header__links__right f-right flex flex-align-ver">
					{%- render 'language-picker', data_group: 'header__links', show_language_icon: true, wrap_class: 'flex flex-align-ver', addition_classes: 'header__link header__link--top' -%}
					{%- if settings.enable_compare -%}
						<a href="javascript:void(0);" class="header__link header__link--compare header__link--top dib{% if enable_rtl %} header__link--reverse{% endif %}" title="{{ 'collections.product_item.compare' | t | escape }}">
							{%- render 'icon-compare' -%}
							{{ 'collections.product_item.compare' | t }}
						</a>
					{%- endif -%}
					{%- if settings.enable_wishlist -%}
						<a href="javascript:void(0);" class="header__link header__link--top header__link--wishlist dib{% if enable_rtl %} header__link--reverse{% endif %}" title="{{ 'general.accessibility.your_wishlist' | t | escape }}">
							{%- render 'icon-wishlist' -%}
							{{ 'general.accessibility.your_wishlist_html' | t }}
						</a>
					{%- endif -%}
					{%- if shop.customer_accounts_enabled -%}
						{%- if customer -%}
							<a href="{{ routes.account_url }}" class="header__link header__link--top dib{% if enable_rtl %} header__link--reverse{% endif %}" title="{{ 'customer.account.title' | t | escape }}">
								{%- render 'icon-user-circle' -%}
								{{ 'customer.account.title' | t }}
							</a>
							<a href="{{ routes.account_logout_url }}" class="header__link header__link--top dib{% if enable_rtl %} header__link--reverse{% endif %}" title="{{ 'layout.customer.log_out' | t | escape }}">
								{%- render 'icon-sign-out' -%}
								{{ 'layout.customer.log_out' | t }}
							</a>
						{%- else -%}	
							<div class="bt-dropdown flex flex-align-ver h100" data-group="header__links">
								<a class="bt-dropdown__trigger header__link header__link--top dib{% if enable_rtl %} header__link--reverse{% endif %}" title="{{ 'customer.account.title' | t | escape }}" href="{{ routes.account_login_url }}">
									{%- render 'icon-sign-in' -%}
									{{ 'customer.login.title' | t }}
								</a>
								<div class="bt-dropdown__content bt-dropdown__content--right">
									{%- render 'login-form-header', id: 'customer_login_header', suffix_id_field: 'Header', enable_rtl: enable_rtl, left_holder: left_holder, right_holder: right_holder -%}
								</div>
							</div>
							<a href="{{ routes.account_register_url }}" class="header__link header__link--top dib{% if enable_rtl %} header__link--reverse{% endif %}" title="{{ 'customer.register.title' | t | escape }}">
								{%- render 'icon-user-circle' -%}
								{{ 'customer.register.title' | t }}
							</a>
						{%- endif -%}
					{%- endif -%}
				</div>
				{%- endif -%}
			</div>
		</div>
	</div>
</div>
<div class="container{% if settings.header_wide_display %}-fluid{% endif %}">
	<div class="w100" style="padding-top:10px;"></div>
	<div class="row header__wrap flex flex-align-ver {% if settings.use_sticky %} use-sticky--desktop{% endif %}">
		<div class="col-xs-2">{% render 'header__logo' %}</div>
		<div class="{% if settings.header_cart_layout_desktop != 'no_display' %}col-xs-9{% else %}col-xs-10{% endif %} position-static" style="align-self:normal;">{% section 'navigation' %}</div>
		{%- if settings.header_cart_layout_desktop != 'no_display' -%}
		<div class="col-xs-1 text-right flex flex-align-ver" style="justify-content: flex-end;">{%- render 'header-cart' with cart_dropdown_direction: 'bt-dropdown__content--right', enable_rtl: enable_rtl, left_holder: left_holder, right_holder: right_holder -%}</div>
		{%- endif -%}
	</div>
	<div class="w100" style="padding-top:10px;"></div>
</div>